/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/12/2014, 14:25:53
    Author     : thiago
*/
body{
overflow: auto;
background: rgba(216,225,231,1);
background: -moz-linear-gradient(top, rgba(216,225,231,1) 14%, rgba(226,233,238,1) 20%, rgba(242,246,248,1) 29%, rgba(224,239,249,1) 54%, rgba(195,212,222,1) 74%, rgba(181,198,208,1) 84%);
background: -webkit-gradient(left top, left bottom, color-stop(14%, rgba(216,225,231,1)), color-stop(20%, rgba(226,233,238,1)), color-stop(29%, rgba(242,246,248,1)), color-stop(54%, rgba(224,239,249,1)), color-stop(74%, rgba(195,212,222,1)), color-stop(84%, rgba(181,198,208,1)));
background: -webkit-linear-gradient(top, rgba(216,225,231,1) 14%, rgba(226,233,238,1) 20%, rgba(242,246,248,1) 29%, rgba(224,239,249,1) 54%, rgba(195,212,222,1) 74%, rgba(181,198,208,1) 84%, rgba(226,233,238,1)96%);
background: -o-linear-gradient(top, rgba(216,225,231,1) 14%, rgba(226,233,238,1) 20%, rgba(242,246,248,1) 29%, rgba(224,239,249,1) 54%, rgba(195,212,222,1) 74%, rgba(181,198,208,1) 84%, rgba(226,233,238,1)96%);
background: -ms-linear-gradient(top, rgba(216,225,231,1) 14%, rgba(226,233,238,1) 20%, rgba(242,246,248,1) 29%, rgba(224,239,249,1) 54%, rgba(195,212,222,1) 74%, rgba(181,198,208,1) 84%, rgba(226,233,238,1)96%);
background: linear-gradient(to bottom, rgba(216,225,231,1) 14%, rgba(226,233,238,1) 20%, rgba(242,246,248,1) 29%, rgba(224,239,249,1) 54%, rgba(195,212,222,1) 74%, rgba(181,198,208,1) 84%, rgba(226,233,238,1)96%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e1e7', endColorstr='#b5c6d0', GradientType=0 );
}

header > img{
    width: 100%;
    height: 25%;
    background-image: url('/img/testeferradura_128.gif');
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 10px;
}

aside{
    float: right;
    margin-top: 20px;
    border: 3px solid #66b5ba;
    height: 800px;
    width: 19%;
    background:#c4e3f3;
    border-radius: 10px;
}

aside > div > ul{
    list-style: none;
}

aside > div > header{
    background-color: #66b5ba;
    text-align: center;
    color: white;
    font-family:sans-serif;
    font-size: 20px;
}

aside > div > ul > li > a > img{
    border : 3px solid #66b5ba;
    border-radius: 5px;
    height: 61px;
    width: 150px;
}


#cssmenu {
  float:left;
  width: 100%;
  background:#66b5ba;
  padding: 8px 0;
  border-radius: 5px;
}
#cssmenu:before {
  content: '';
  display: block;
}
#cssmenu:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu ul {
  list-style-type: none;
  position: relative;
  display: block;
  font-size: 20px;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid white;
  zoom: 1;
}
#cssmenu ul:before {
  content: '';
  display: block;
}
#cssmenu ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
#cssmenu li a {
  float: left;
  color: black;
  text-decoration: none;
  height: 24px;
  padding: 9px 15px 0;
  font-weight: normal;
}
#cssmenu li:hover,
#cssmenu .active {
  text-decoration: none;
  border-bottom: 2px solid white;
}
#cssmenu li:hover a {
  color: white;
}
#cssmenu .active a {
  color: #fff;
  font-weight: 700;
}

#rodape{
    margin-top: 20px;
    float: left;
    width: 100%;
    height: 300px;
    background:#66b5ba;
    border-top: 10px solid whitesmoke;
    
}

.container{
    margin-top: 100px;
    width: 80%;
}

.anuncio > a{
    text-decoration: none;
    color: black;
}

a:link,
a:visited,
a:hover,
a:active{
    color: black;
}

.anuncio > li{
    margin-top: 20px;
    margin-right: 20px;
    float: left;
    list-style: none;
    width: 220px;
    height: 310px;
    background-color: #c4e3f3;
    border-radius: 7px;
    -moz-box-shadow: 10px 10px 5px #423f42;
    -webkit-box-shadow: 10px 10px 5px #423f42;
    box-shadow: 10px 10px 5px #423f42;
}



.anuncio > li > span{ /*quebra de linha entre os spans*/      
    margin-left: 5px;
    display: block;
}

.anuncio > li > div >img{
    float: left;
    margin: 5px;
    width: 200px;
    height: 200px;
    border: 3px solid #66b5ba;
    border-radius: 5px;
}

.anuncio > li > .descricao{        
    background-color: #c4e3f3;    
    position: relative;
    top: -283px;
    width: 200px;
    height: 200px;
    border-top: 3px solid #66b5ba;
    border-bottom: 3px solid #66b5ba;
    border-right: 3px solid #66b5ba;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 0.9;
    text-align: center;
    overflow: auto;
    visibility:hidden;
    -moz-box-shadow: 10px 10px 5px #423f42;
    -webkit-box-shadow: 10px 10px 5px #423f42;
    box-shadow: 10px 10px 5px #423f42;
}

.descricao > p{
 display: inline;
 color: black;
}
.descricao > h4{
    margin-top: 0;
    height: 20px;
    display: block;
    background-color: #66b5ba;
    color: black;
}

/*formularios*/

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}




/* botoes */
input[type="submit"]{
    /* Structure */
    display: inline-block;
    *display: inline; /*IE 6/7*/
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Firefox: Get rid of the inner focus border */
input[type="submit"]::-moz-focus-inner{
    padding: 0;
    border: 0;
}
/* end from PURE buttons-core.css */
/* from PURE buttons.css */
/*csslint unqualified-attributes:false*/

input[type="submit"] {
    font-size: 100%;
    *font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
    *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
    padding: 0.5em 1.5em 0.5em;
    color: #0e1320; /* rgba not supported (IE 8) */
    border: 1px solid #a6b3d9; /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0); /*IE9 + everything else*/
    background: #3db2e1;
    background: -o-linear-gradient(top, #69c4e8, #21a1d4);
    background: -ms-linear-gradient(top, #69c4e8, #21a1d4);
    background: -webkit-linear-gradient(top, #69c4e8, #21a1d4);
    background: -moz-linear-gradient(top, #69c4e8, #21a1d4);
    background: linear-gradient(to bottom, #69c4e8, #21a1d4);
}

input[type="submit"]:hover {
    background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

input[type="submit"]:focus {
    outline: 0;
}
input[type="submit"]:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
}

input[type="submit"]:hover,
input[type="submit"]:active {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    box-shadow: none;
}



/* Firefox: Get rid of the inner focus border */
input[type="submit"]::-moz-focus-inner{
    padding: 0;
    border: 0;
}

input[type="submit"]{
    background-color: #3355BA;
    color: #fbfcfe;
}



form {
    margin: 0;
}

/* Define consistent border, margin, and padding.*/
 

form fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */

form legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */

form button,
form input,
form select,
form textarea {    
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

form button,
form input {
    line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

form button,
form input[type="button"], /* 1 */
form input[type="reset"],
form input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */

form button[disabled],
form input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

form input[type="checkbox"],
form input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

form input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

form input[type="search"]::-webkit-search-cancel-button,
form input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 3+.
 */

form button::-moz-focus-inner,
form input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */

form textarea {
    overflow: auto; 
    vertical-align: top; 
}

@media only screen and (max-width : 480px) {
   form button[type="submit"] {
    margin: 0.7em 0 0;
    }

    form input[type="text"],
    form input[type="password"],
    form input[type="email"],
    form input[type="url"],
    form input[type="date"],
    form input[type="month"],
    form input[type="time"],
    form input[type="datetime"],
    form input[type="datetime-local"],
    form input[type="week"],
    form input[type="number"],
    form input[type="search"],
    form input[type="tel"],
    form input[type="color"],
    form label {
        margin-bottom: 0.3em;
        display: block;        
    }
}


form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="url"],
form input[type="date"],
form input[type="month"],
form input[type="time"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="week"],
form input[type="number"],
form input[type="search"],
form input[type="tel"],
form input[type="color"],
form select,
form textarea {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #e6e6e6;
    font-size: 1em;
    box-shadow: inset 0 1px 3px #e6e6e6;
    border-radius: 4px;
    -webkit-transition: 0.3s linear border;
    -moz-transition: 0.3s linear border;
    -ms-transition: 0.3s linear border;
    -o-transition: 0.3s linear border;
    transition: 0.3s linear border;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus,
form input[type="url"]:focus,
form input[type="date"]:focus,
form input[type="month"]:focus,
form input[type="time"]:focus,
form input[type="datetime"]:focus,
form input[type="datetime-local"]:focus,
form input[type="week"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form input[type="tel"]:focus,
form input[type="color"]:focus,
form select:focus,
form textarea:focus {
    outline: 0;
    outline: thin dotted \9; 
    border-color: #129FEA;
}

form input[type="file"]:focus,
form input[type="radio"]:focus,
form input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 1px auto #129FEA;
}
form .pure-checkbox,
form .pure-radio {
    margin: 0.5em 0;
    display: block;
}
form input[type="text"][disabled],
form input[type="password"][disabled],
form input[type="email"][disabled],
form input[type="url"][disabled],
form input[type="date"][disabled],
form input[type="month"][disabled],
form input[type="time"][disabled],
form input[type="datetime"][disabled],
form input[type="datetime-local"][disabled],
form input[type="week"][disabled],
form input[type="number"][disabled],
form input[type="search"][disabled],
form input[type="tel"][disabled],
form input[type="color"][disabled],
form select[disabled],
form textarea[disabled] {
    cursor: not-allowed;
    box-shadow: inset 0 1px 10px #ededed;
    background-color: #ededed;
    color: #adadad;
    border-color: #e6e6e6;
}
form input[readonly],
form select[readonly],
form textarea[readonly],
form input[readonly]:focus,
form select[readonly]:focus,
form textarea[readonly]:focus {
    background: #eee;
    color: #777; 
    border-color: #ccc;
}
form input:focus:invalid,
form textarea:focus:invalid,
form select:focus:invalid {
    color: #b94a48;
    border: 1px solid #ee5f5b;
}
form input:focus:invalid:focus,
form textarea:focus:invalid:focus,
form select:focus:invalid:focus {
    border-color: #e9322d;
}

form select {
    border: 1px solid #e6e6e6;
    background-color: white;
}
form select[multiple] {
    height: auto;
}
form label {
    margin: 0.5em 0 0.2em;
    color: #4f4f4f;
    font-size:90%;
}
form fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}
form legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    font-size: 125%;
    color: #262626;
    border-bottom: 1px solid #ededed;
}

/*formulario busca*/
.filtro-valor{
    font-size: 13px;
    margin-left: 8px;
    
}
.bairro-select{
    margin-left: 5px;
}
.filtro-tipo{
    margin-left: 13px;
}
.filtro-transacao{
    margin-left: 16px;
}

select{
    display: block;
    width: 200px;
    height: 34px;
    margin-bottom: 10px;
}
#busca-submit{
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 5px;
}
/*formulario busca*/

.informacoes{
    background-color: white;
    float: left;
    list-style: none;
    height: 200px;
    margin-left: 15%;    
}

.comodos{
    background-color: white;
    float: left;
    width: 150px;
    list-style: none;
    margin-left: 20px;
    word-wrap: break-word;
    border-radius: 5px;
    height: 200px;
    overflow:scroll;
}



.comodos label{
    display: block;
}

.destaque{
    color: #66b5ba;
    font-size: 30px;
}

.desc{
    background-color: white;
    float: left;
    width: 300px;
    height: 200px;
    display: block;
    overflow-y:scroll;
    word-wrap: break-word;
    margin-top: 10px;
    margin-left: 50px;
}