/***posicionamento****/
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.container{
    border: 1px solid black;
    position: absolute;
    left:200px;
    width:84%;
}

.container-login{
   position: absolute;
    top: 30%;
    left: 40%;
    margin-top: -30px;
    margin-left: -40px;
    width: 100%;
}

footer, hr{
    position: fixed;
    bottom: 2px;
    float: left;
}

/****posicionamento*****/



/*formularios*/
.criar form{
    
}



.formulario ul{
    list-style: none;
    display:inline;
    position:relative;
    left:-40px;
}

.formulario ul li{
    width: 200px;
    color: white;
    background-color: #FFBABA;
    border-radius: 1em;
    display:inherit;
}

.formulario ul li:before{
    content:url("/img/erro.png");
    position : relative;
    top: 3px;
}
.response-error{
    position: fixed;
    width: 100%;
    top:0px;
    display: none;
    background-color: red;
    text-align: center;
}
/*formularios*/


/*inicio menu lateral*/
aside{
    float:left;
    position:fixed;
    top:51px;
}


aside ul,
aside ul li,
aside ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
aside {
  width: 15%;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
}
aside ul ul {
  display: none;
}
.align-right {
  float: right;
}
aside > ul > li > a {
  padding: 15px 20px;
  border-left: 1px solid #0a0b0b;
  border-right: 1px solid #0a0b0b;
  border-top: 1px solid #0a0b0b;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  background: #2f3233;
  background: -webkit-linear-gradient(#2f3233, #232526);
  background: -moz-linear-gradient(#2f3233, #232526);
  background: -o-linear-gradient(#2f3233, #232526);
  background: -ms-linear-gradient(#2f3233, #232526);
  background: linear-gradient(#2f3233, #232526);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
aside > ul > li > a:hover,
aside > ul > li.active > a,
aside > ul > li.open > a {
  color: #eeeeee;
  background: #232526;
  background: -webkit-linear-gradient(#232526, #171818);
  background: -moz-linear-gradient(#232526, #171818);
  background: -o-linear-gradient(#232526, #171818);
  background: -ms-linear-gradient(#232526, #171818);
  background: linear-gradient(#232526, #171818);
}
aside > ul > li.open > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #0a0b0b;
}
aside > ul > li:last-child > a,
aside > ul > li.last > a {
  border-bottom: 1px solid #0a0b0b;
}
.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.holder::after {
  top: 17px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
aside > ul > li > a:hover > span::after,
aside > ul > li.active > a > span::after,
aside > ul > li.open > a > span::after {
  border-color: #eeeeee;
}
.holder::before {
  top: 18px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}
aside ul ul li a {
  cursor: pointer;
  border-bottom: 1px solid #32373e;
  border-left: 1px solid #32373e;
  border-right: 1px solid #32373e;
  padding: 10px 20px;
  z-index: 1;
  text-decoration: none;
  font-size: 13px;
  color: #eeeeee;
  background: #49505a;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
aside ul ul li:hover > a,
aside ul ul li.open > a,
aside ul ul li.active > a {
  background: #424852;
  color: #ffffff;
}
aside ul ul li:first-child > a {
  box-shadow: none;
}
aside ul ul ul li:first-child > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
aside ul ul ul li a {
  padding-left: 30px;
}
aside > ul > li > ul > li:last-child > a,
aside > ul > li > ul > li.last > a {
  border-bottom: 0;
}
aside > ul > li > ul > li.open:last-child > a,
aside > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #32373e;
}
aside > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
aside ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
  border-top: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
aside ul ul li.active > a::after,
aside ul ul li.open > a::after,
aside ul ul li > a:hover::after {
  border-color: #ffffff;
}
/*fim do menu lateral*/


/*tabelas*/
section.listar {
        position: relative;
	margin:2px;padding:0px;
	width:100%;
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.default-table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
        box-shadow: 10px 10px 5px #888888;
}.default-table tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.default-table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.default-table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.default-table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.default-table tr:hover td{
	
}
.default-table tr:nth-child(odd){ background-color:#e5e5e5; }
.default-table tr:nth-child(even)    { background-color:#ffffff; }.default-table td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.default-table tr:last-child td{
	border-width:0px 1px 0px 0px;
}.default-table tr td:last-child{
	border-width:0px 0px 1px 0px;
}.default-table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.default-table thead tr th{
        height: 45px;
        background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.default-table thead tr th{
	background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc;
}
.default-table thead tr th:first-child{
	border-width:0px 0px 1px 0px;
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}

.default-table thead tr th:last-child{
	border-width:0px 0px 1px 0px;
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}

.default-table tr:last-child td:first-child{
        border-width:0px 0px 1px 0px;
	-moz-border-radius-bottomleft:50px;
	-webkit-border-bottom-left-radius:50px;
	border-bottom-left-radius:50px;
}

.default-table tr:last-child td:last-child{
        border-width:0px 0px 1px 0px;
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}
/*fim de tabelas*/


.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}
