/***posicionamento****/
body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #dddddd;
}

.container{
    border: 1px solid black;
    position: absolute;
    left:200px;
    width:84%;
}

.container-login{
   position: absolute;
    top: 30%;
    left: 40%;
    margin-top: -30px;
    margin-left: -40px;
    width: 100%;
}

footer, hr{
    position: fixed;
    bottom: 2px;
    float: left;
}

/****posicionamento*****/



/*formularios*/
.formulario label{
    display: block;
}

.list-error{/*erros dos formularios editado no arquivo zend/form/view/helper/FormElementError*/    
    list-style: none;  
    color: #c85305;
    font-size: 86%;
}

.list-error li{
    background-color: #FFFFE0;
    display: inline-block;
    height: 30px;
    border-radius: 5px;
}

.list-error li:before{
    content:url("/img/erro.png");
    position : relative;
    top: 3px;
}

.response-notify{
    position: fixed;
    width: 100%;
    top:0px;
    display: none;
    background-color: red;
    text-align: center;
}
/*formulario 2-inicio*/
.formulario2 > .fieldcomodos > label{
    width: 100px;
    height: 50px;
}

.formulario2 > .fieldcomodos > label input[type="checkbox"]{
    margin-right: 2px;
    width: 15px;
    height: 15px;
}

.formulario2 > .fieldcomodos > label input[type="number"]{
    margin-left: 2px;
    width: 55px;
}

/*impar*/
.formulario2 > .fieldcomodos label:nth-child(4n+2){
        text-align: right
}
 
.formulario2 > .fieldcomodos label:nth-child(4n+3){
        text-align: left;
}
/*impar*/


/*par*/
.formulario2 > .fieldcomodos label:nth-child(4n+4){
        text-align: right
}
 
.formulario2 > .fieldcomodos label:nth-child(4n+5){
        text-align: left;
}
/*par*/

.formulario2 > #passo2-submit{
    position: relative;
    top:10px;
    display: block;
}



#caixa-busca > #form-busca label,#caixa-busca > #form-busca submit{
    display: inline;
    width: 20px;
}

/*formulario2-fim*/
/*formularios*/


/*formulario3-inicio*/
#galeria-passo3{
    text-align: center;
    height: 300px;
    background-image: url(/img/camera.png);
    background-repeat: no-repeat;
    background-position:center;
    background-color: whitesmoke;
}

input[type="file"]{
    height: 50px;
    background: url(/img/add_foto.png) no-repeat 99% 51%;
}
/*formulario3-fim*/

/*inicio menu lateral*/
aside{
    float:left;
    position:fixed;
    top:51px;
}


aside ul,
aside ul li,
aside ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
aside {
  width: 15%;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
}
aside ul ul {
  display: none;
}
.align-right {
  float: right;
}
aside > ul > li > a {
  padding: 15px 20px;
  border-left: 1px solid #0a0b0b;
  border-right: 1px solid #0a0b0b;
  border-top: 1px solid #0a0b0b;
  cursor: pointer;
  z-index: 2;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
  background: #2f3233;
  background: -webkit-linear-gradient(#2f3233, #232526);
  background: -moz-linear-gradient(#2f3233, #232526);
  background: -o-linear-gradient(#2f3233, #232526);
  background: -ms-linear-gradient(#2f3233, #232526);
  background: linear-gradient(#2f3233, #232526);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
aside > ul > li > a:hover,
aside > ul > li.active > a,
aside > ul > li.open > a {
  color: #eeeeee;
  background: #232526;
  background: -webkit-linear-gradient(#232526, #171818);
  background: -moz-linear-gradient(#232526, #171818);
  background: -o-linear-gradient(#232526, #171818);
  background: -ms-linear-gradient(#232526, #171818);
  background: linear-gradient(#232526, #171818);
}
aside > ul > li.open > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #0a0b0b;
}
aside > ul > li:last-child > a,
aside > ul > li.last > a {
  border-bottom: 1px solid #0a0b0b;
}
.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.holder::after {
  top: 17px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
aside > ul > li > a:hover > span::after,
aside > ul > li.active > a > span::after,
aside > ul > li.open > a > span::after {
  border-color: #eeeeee;
}
.holder::before {
  top: 18px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}
aside ul ul li a {
  cursor: pointer;
  border-bottom: 1px solid #32373e;
  border-left: 1px solid #32373e;
  border-right: 1px solid #32373e;
  padding: 10px 20px;
  z-index: 1;
  text-decoration: none;
  font-size: 13px;
  color: #eeeeee;
  background: #49505a;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
aside ul ul li:hover > a,
aside ul ul li.open > a,
aside ul ul li.active > a {
  background: #424852;
  color: #ffffff;
}
aside ul ul li:first-child > a {
  box-shadow: none;
}
aside ul ul ul li:first-child > a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}
aside ul ul ul li a {
  padding-left: 30px;
}
aside > ul > li > ul > li:last-child > a,
aside > ul > li > ul > li.last > a {
  border-bottom: 0;
}
aside > ul > li > ul > li.open:last-child > a,
aside > ul > li > ul > li.last.open > a {
  border-bottom: 1px solid #32373e;
}
aside > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}
aside ul ul li.has-sub > a::after {
  display: block;
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  right: 20px;
  z-index: 10;
  top: 11.5px;
  border-top: 2px solid #eeeeee;
  border-left: 2px solid #eeeeee;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
aside ul ul li.active > a::after,
aside ul ul li.open > a::after,
aside ul ul li > a:hover::after {
  border-color: #ffffff;
}
/*fim do menu lateral*/


/*tabelas*/
section.listar {
        position: relative;
	margin:2px;padding:0px;
	width:100%;
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.default-table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	margin:0px;padding:0px;
        box-shadow: 10px 10px 5px #888888;
}
.default-table tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.default-table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.default-table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.default-table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.default-table tr:hover td{
	
}
.default-table tr:nth-child(odd){ background-color:#e5e5e5; }
.default-table tr:nth-child(even)    { background-color:#ffffff; }.default-table td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.default-table tr:last-child td{
	border-width:0px 1px 0px 0px;
}.default-table tr td:last-child{
	border-width:0px 0px 1px 0px;
}.default-table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.default-table thead tr th{
        height: 45px;
        background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.default-table thead tr th{
	background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);
	background-color:#cccccc;
}
.default-table thead tr th:first-child{
	border-width:0px 0px 1px 0px;
	-moz-border-radius-topleft:9px;
	-webkit-border-top-left-radius:9px;
	border-top-left-radius:9px;
}

.default-table thead tr th:last-child{
	border-width:0px 0px 1px 0px;
	-moz-border-radius-topright:9px;
	-webkit-border-top-right-radius:9px;
	border-top-right-radius:9px;
}

.default-table tr:last-child td:first-child{
        border-width:0px 0px 1px 0px;
	-moz-border-radius-bottomleft:50px;
	-webkit-border-bottom-left-radius:50px;
	border-bottom-left-radius:50px;
}

.default-table tr:last-child td:last-child{
        border-width:0px 0px 1px 0px;
	-moz-border-radius-bottomright:9px;
	-webkit-border-bottom-right-radius:9px;
	border-bottom-right-radius:9px;
}
.default-table tr:hover td {
    background-color:#d0f2ca;
}

/*fim de tabelas*/


.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}




/* botoes */
input[type="submit"]{
    /* Structure */
    display: inline-block;
    *display: inline; /*IE 6/7*/
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Firefox: Get rid of the inner focus border */
input[type="submit"]::-moz-focus-inner{
    padding: 0;
    border: 0;
}
/* end from PURE buttons-core.css */
/* from PURE buttons.css */
/*csslint unqualified-attributes:false*/

input[type="submit"] {
    font-size: 100%;
    *font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
    *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
    padding: 0.5em 1.5em 0.5em;
    color: #0e1320; /* rgba not supported (IE 8) */
    /* color: rgba(0, 0, 0, 0.80); rgba supported */
    /* *color: #444; IE 6 & 7 */
    border: 1px solid #a6b3d9; /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0); /*IE9 + everything else*/
    background-color: #b0bcdd;
    text-decoration: none;
    border-radius: 2px;
    -webkit-font-smoothing: antialiased;
    /* Transitions */
    -webkit-transition: 0.1s linear -webkit-box-shadow;
    -moz-transition: 0.1s linear -moz-box-shadow;
    -ms-transition: 0.1s linear box-shadow;
    -o-transition: 0.1s linear box-shadow;
    transition: 0.1s linear box-shadow;
}

input[type="submit"]:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.05)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.15));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05));
    background-image: -ms-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.15));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.05));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.05));
}

input[type="submit"]:focus {
    outline: 0;
}
input[type="submit"]:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
}

input[type="submit"]:hover,
input[type="submit"]:active {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    box-shadow: none;
}



/* Firefox: Get rid of the inner focus border */
input[type="submit"]::-moz-focus-inner{
    padding: 0;
    border: 0;
}

input[type="submit"]{
    background-color: #3355BA;
    color: #fbfcfe;
}

input[type="submit"][disabled="disabled"],
button[disabled="disabled"] {
    cursor:url(/img/cancelar.png), not-allowed;
}


.update-default,
.delete-default,
.button-warning,
.select-default {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.update-default {
    background: rgb(28, 184, 65); /* this is a green */
}

.update-default:hover {
	background-color:#5cbf2a;
}
.update-default:active {
	position:relative;
	top:1px;
}

.delete-default {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.delete-default:hover {
    background-color: #f71c0f;
}
.delete-default:active {
	position:relative;
	top:1px;
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.select-default {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.select-default:hover{
    background-color: #00fffc;
}

/*fim botoes*/


form {
    margin: 0;
}

/* Define consistent border, margin, and padding.*/
 

form fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */

form legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */

form button,
form input,
form select,
form textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

form button,
form input {
    line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

form button,
form input[type="button"], /* 1 */
form input[type="reset"],
form input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */

form button[disabled],
form input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

form input[type="checkbox"],
form input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

form input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

form input[type="search"]::-webkit-search-cancel-button,
form input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 3+.
 */

form button::-moz-focus-inner,
form input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */

form textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}
/* ===============  forms-responsive.css =================*/
@media only screen and (max-width : 480px) {
   form button[type="submit"] {
    margin: 0.7em 0 0;
    }

    form input[type="text"],
    form input[type="password"],
    form input[type="email"],
    form input[type="url"],
    form input[type="date"],
    form input[type="month"],
    form input[type="time"],
    form input[type="datetime"],
    form input[type="datetime-local"],
    form input[type="week"],
    form input[type="number"],
    form input[type="search"],
    form input[type="tel"],
    form input[type="color"],
    form label {
        margin-bottom: 0.3em;
        display: block;
    }
}

/* ===============  forms.css =================================*/
form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="url"],
form input[type="date"],
form input[type="month"],
form input[type="time"],
form input[type="datetime"],
form input[type="datetime-local"],
form input[type="week"],
form input[type="number"],
form input[type="search"],
form input[type="tel"],
form input[type="color"],
form select,
form textarea {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #e6e6e6;
    font-size: 1em;
    box-shadow: inset 0 1px 3px #e6e6e6;
    border-radius: 4px;
    -webkit-transition: 0.3s linear border;
    -moz-transition: 0.3s linear border;
    -ms-transition: 0.3s linear border;
    -o-transition: 0.3s linear border;
    transition: 0.3s linear border;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus,
form input[type="url"]:focus,
form input[type="date"]:focus,
form input[type="month"]:focus,
form input[type="time"]:focus,
form input[type="datetime"]:focus,
form input[type="datetime-local"]:focus,
form input[type="week"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form input[type="tel"]:focus,
form input[type="color"]:focus,
form select:focus,
form textarea:focus {
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    border-color: #129FEA;
}

form input[type="file"]:focus,
form input[type="radio"]:focus,
form input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 1px auto #129FEA;
}
form .pure-checkbox,
form .pure-radio {
    margin: 0.5em 0;
    display: block;
}
form input[type="text"][disabled],
form input[type="password"][disabled],
form input[type="email"][disabled],
form input[type="url"][disabled],
form input[type="date"][disabled],
form input[type="month"][disabled],
form input[type="time"][disabled],
form input[type="datetime"][disabled],
form input[type="datetime-local"][disabled],
form input[type="week"][disabled],
form input[type="number"][disabled],
form input[type="search"][disabled],
form input[type="tel"][disabled],
form input[type="color"][disabled],
form select[disabled],
form textarea[disabled] {
    cursor: not-allowed;
    box-shadow: inset 0 1px 10px #ededed;
    background-color: #ededed;
    color: #adadad;
    border-color: #e6e6e6;
}
form input[readonly],
form select[readonly],
form textarea[readonly],
form input[readonly]:focus,
form select[readonly]:focus,
form textarea[readonly]:focus {
    background: #eee; /* menu hover bg color */
    color: #777; /* menu text color */
    border-color: #ccc;
}
form input:focus:invalid,
form textarea:focus:invalid,
form select:focus:invalid {
    color: #b94a48;
    border: 1px solid #ee5f5b;
}
form input:focus:invalid:focus,
form textarea:focus:invalid:focus,
form select:focus:invalid:focus {
    border-color: #e9322d;
}
form input[type="file"]:focus:invalid:focus,
form input[type="radio"]:focus:invalid:focus,
form input[type="checkbox"]:focus:invalid:focus {
    outline-color: #e9322d;
}
form select {
    border: 1px solid #e6e6e6;
    background-color: white;
}
form select[multiple] {
    height: auto;
}
form label {
    margin: 0.5em 0 0.2em;
    color: #4f4f4f;
    font-size:90%;
}
form fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}
form legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    font-size: 125%;
    color: #262626;
    border-bottom: 1px solid #ededed;
}







